<a href="https://colab.research.google.com/github/Szczureczek1983/Repozytorium2/blob/main/cwiczenia_pyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Drukuje napis o określonym formacie wcięć

In [ ]:
print("Twinkle, twinkle, litle star, \n\tHow I wonder what you are\n\t\tup above the world so high\n\t\tlike a diamond in the sky.\nTwinkle, Twinkle, little star\n\tHow I wonder what you are!")

Twinkle, twinkle, litle star,
	How I wonder what you are
		up above the world so high
		like a diamond in the sky.
Twinkle, Twinkle, little star
	How I wonder what you are!

2. Drukuje aktualną wersję Pythona

In [ ]:
import sys
print("Python version")
print(sys.version)
print(sys.version_info)

Python version
3.7.13 (default, Mar 16 2022, 17:37:17)
[GCC 7.5.0]
sys.version_info(major=3, minor=7, micro=13, releaselevel='final', serial=0)

In [ ]:
import platform
print(platform.python_version)

<function python_version at 0x7f6ae2f39b00>

3. Drukowanie daty i godziny

In [ ]:
import datetime

In [ ]:
now = datetime.datetime.now()

In [ ]:
print("Current date and time: ")
print(now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time:
2022-04-14 12:12:29

In [ ]:
import time
lt = time.localtime()
d = lt.tm_mday
Y = lt.tm_year
m = lt.tm_mon
H = lt.tm_hour
M = lt.tm_min
S = lt.tm_sec
print("Current date and time: ")
print(d,m,Y, sep=("/"))
print(H,M,S, sep =(":"))

Current date and time:
14/4/2022
12:12:29

4. Wyliczanie pola powierzchni koła z podanego przez urzytkownika promienia

In [ ]:
import math
from math import *
r = float(input("Podaj promień: "))
print(f"Dla podanego promienia {r} pole powierzchni koła wynosi {pi*r**2}")
print(f"Dla podanego promienia {r} obwód koła wynosi {2*pi*r}")

Podaj promień: 2
Dla podanego promienia 2.0 pole powierzchni koła wynosi 12.566370614359172
Dla podanego promienia 2.0 obwód koła wynosi 12.566370614359172

Drukowanie imienia i nazwiska wpisywanego z klawiatury w odwróconej kolejności

In [ ]:
fname = str(input("Podaj swoje imię: "))
lname = str(input("Podaj swoje nazwisko: "))
print(f"Witaj {lname} {fname}")

Podaj swoje imię: Andrzej
Podaj swoje nazwisko: szczirek
Witaj szczirek Andrzej

5. Tworzenie listy i tupli

In [ ]:
value = input("Input some comma seprated numbers : ").split(",")
lst_list = list(value)
Tpl_tuple = tuple(value)
print('Lista : ',lst_list)
# print('Tuple : ',Tpl_tuple)

Input some comma seprated numbers : 1,3,4,5
Lista :  ['1', '3', '4', '5']

6. Wybieramy pierwszy i ostatni kolor z listy

In [ ]:
col_list = ['Red','Green','Blue','Yellow','Black','Margenta']
print(f"{col_list[0]}, {col_list[-2]}")

Red, Black

In [ ]:
exam_st_date= (12,6,2003)
print(f"Egzamin zaplanowany jest na {exam_st_date[0]}/{exam_st_date[1]}/{exam_st_date[2]} roku")

Egzamin zaplanowany jest na 12/6/2003 roku

In [ ]:
a = int(input("Podaj liczbę całkowitą: "))
b = int(input("Podaj liczbę całkowitą: "))
n1 = int("%s" %a)
n2 = int("%s%s%s" % (b,a,b))
n3 = int("%s%s%s" %(a,a,b))
print(n1,n2,n3)
print(n1+n2+n3)

Podaj liczbę całkowitą: 1
Podaj liczbę całkowitą: 2
1 212 112
325

In [ ]:
import calendar
Y = int(input("Podaj rok: "))
m = int(input("Podaj miesiąc: "))
print(calendar.month(Y,m))

Podaj rok: 1986
Podaj miesiąc: 10
    October 1986
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [ ]:
from datetime import date
print("Pierwsza data")
Y1 = int(input("Podaj Rok:"))
M1 = int(input('Podaj miesiąc:'))
D1 = int(input(('Podaj dzień: ')))
Data_1 = date(Y1,M1,D1)
print("Druga data")
Y2 = int(input("Podaj Rok:"))
M2 = int(input('Podaj miesiąc:'))
D2 = int(input(('Podaj dzień: ')))
Data_2 = date(Y2,M2,D2)
delta = Data_2 - Data_1
print(f"Różnica pomiędzy {Data_2} a {Data_1} wynosi {delta} ")

Pierwsza data
Podaj Rok:1983
Podaj miesiąc:1
Podaj dzień: 5
Druga data
Podaj Rok:2022
Podaj miesiąc:4
Podaj dzień: 20
Różnica pomiędzy 2022-04-20 a 1983-01-05 wynosi 14350 days, 0:00:00

In [ ]:
from math import *
r = float(input("podaj promień: "))
V = 4/3*pi*r**3
print(f"Objętość sfery o promieniu {r} wynosi {V}")

podaj promień: 3.45
Objętość sfery o promieniu 3.45 wynosi 172.0069101730216

In [ ]:
n = float(input("Podaj liczbę: "))
def difference(n):
  if n <= 17:
    return 17 - n
  else:
    return (n-17)*2
print(difference(n))

Podaj liczbę: 16.9
0.10000000000000142

In [ ]:
a = int(input("Podaj a: "))
b = int(input("Podaj b: "))
c = int(input("Podaj c: "))
def suma_liczb(n):
  if a == b == c:
    n = ((a+b+c)*3)
    return n
  else:
    n = a+ b + c
    return n
print()
print(f"Suma liczb wynosi {suma_liczb(n)}")

Podaj a: 2
Podaj b: 3
Podaj c: 4

Suma liczb wynosi 9

In [ ]:
def larger_String(str, n):
  result = ""
  for i in range(n):
    result = result + str
  return result
print(larger_String("abs ", 3))
print(larger_String(".py", 23))

abs abs abs
.py.py.py.py.py.py.py.py.py.py.py.py.py.py.py.py.py.py.py.py.py.py.py

In [ ]:
num = int(input("Podaj liczbę: "))
mod = num%2
if mod > 0:
  print("Liczba nieparzysta")
else:
  print("Liczba parzysta")

Podaj liczbę: 3
Liczba nieparzysta

In [ ]:

Lista_1 = [1,3,4,5,67,4,5,6,7,89,3,4,5,65,78,4.,5,6,67,87,78]
print(Lista_1)

e = int(input("Podaj liczbę: "))
print("Liczba wystąpień: ")
print(Lista_1.count(e))
print("Indeks pierwszego wystąpienia: ")
if Lista_1.count(e):
    print(Lista_1.index(e))
else:
    print("Brak elementu w liście")

def szukanie_cztery(Lista_1):
  suma = 0
  for n in Lista_1:
    if n == 4:
      suma = suma + 1
  return suma
print(szukanie_cztery(Lista_1))

[1, 3, 4, 5, 67, 4, 5, 6, 7, 89, 3, 4, 5, 65, 78, 4.0, 5, 6, 67, 87, 78]
<class 'list'>
Podaj liczbę: 5
Liczba wystąpień:
4
Indeks pierwszego wystąpienia:
3
4

In [ ]:
from random import randint
ile = int(input("Ile liczb wylosować? "))
lista = []  # pusta lista

for i in range(0, ile):
    lista.append(randint(0, 500))
print(lista)
e = int(input("Podaj liczbę: "))
print("Liczba wystąpień: ")
print(lista.count(e))
print("Indeks pierwszego wystąpienia: ")
if lista.count(e):
    print(lista.index(e))
else:
    print("Brak elementu w liście")
print()
for x in lista:
    if x >= 10:
        print(x)
        break;
    elif x % 2 == 0:
        print(x)

Ile liczb wylosować? 20
[7, 105, 405, 99, 424, 187, 155, 43, 121, 212, 87, 332, 299, 437, 284, 447, 345, 104, 233, 255]
Podaj liczbę: 10
Liczba wystąpień:
0
Indeks pierwszego wystąpienia:
Brak elementu w liście

105